/* Контейнер для карусели */
.carousel-container {
    display: flex; /* Отображение элементов внутри контейнера в виде flexbox */
    align-items: center; /* Выравнивание элементов по вертикали */
    justify-content: center; /* Выравнивание элементов по горизонтали */
    margin-top: 20px; /* Внешний отступ сверху */
    position: relative; /* Позиционирование элемента */
    flex-direction: column; /* Направление основной оси flexbox (в столбец) */
    width: 50%;
  }
  
  /* Карусель - контейнер, скрывающий превышающее содержимое */
  .carousel {
    width: 100%;
    overflow: hidden; /* Скрытие содержимого, выходящего за пределы блока */
    display: flex; /* Отображение элементов в виде flexbox */
  }
  
  /* Элементы карусели */
  .carousel-item {
    display: flex; /* Отображение элементов в виде flexbox */
    transition: transform 0.7s ease; /* Плавное изменение свойства transform */
  }
  
  /* Содержимое элементов карусели */
  .carousel-content {
    display: flex; /* Отображение элементов в виде flexbox */
    flex-direction: column; /* Направление основной оси flexbox (в столбец) */
    align-items: center; /* Выравнивание элементов по горизонтали */
    width: 20vw; /* Ширина каждого элемента карусели */
    height: 18vw;
    background-color: #474747; /* Цвет фона для элемента карусели */
    border-radius: 20px; /* Закругление углов элемента карусели */
    padding: -1px; /* Внутренние отступы вокруг содержимого */
    margin-right: 9%; /* Отступ между элементами карусели */
    overflow: hidden;
    text-align: center;
    color: #ccc;
  }
  
  /* Изображения внутри карусели */
  .carousel-image {
    width: 100%; /* Ширина изображения */
    height: 165px; /* Высота изображения */
    margin-bottom: 0; /* Отступ снизу изображения */
    border-radius: 0px; /* Закругление углов изображения */
  }
  
  /* Обертка для текста и других элементов */
  .text-wrapper {
    display: flex; /* Отображение элементов в виде flexbox */
    flex-direction: column; /* Направление основной оси flexbox (в столбец) */
    align-items: center; /* Выравнивание элементов по горизонтали */
    font-size: 22px;
    margin-top: 5px;
    font-family: 'Montserrat-Light';
  }
  
  .my-button {
    border:1px solid  #ffffff;
    border-radius: 25px;
    margin-top: -8px;
    height: 45px;
    width: 200px;
    background-color: #474747;
    color: #ffffff;
    font-family: 'Montserrat-Light';
    font-size: 20px;
    transition-duration: 0.4s;
  }
  .my-button:hover {
    background-color: #ffffff;
    color: #474747;
  }
  /* Точки для навигации */
  .dots {
    display: flex; /* Отображение элементов в виде flexbox */
    justify-content: center; /* Выравнивание элементов по горизонтали */
    margin-top: 20px; /* Внешний отступ сверху для точек */
  }
  
  /* Отдельная точка для навигации */
  .dot {
    width: 17px; /* Ширина точки */
    height: 17px; /* Высота точки */
    border: 4px solid #474747;
    border-radius: 50%; /* Закругление углов для создания круга */
    background-color: #ccc; /* Цвет точки */
    margin: 0 5px; /* Внешний отступ для точек */
    cursor: pointer; /* Изменение курсора при наведении */
    transition-duration: 0.3s;

  }
  
  /* Активная точка для навигации */
  .dot.active {
    background-color: #474747; /* Цвет активной точки */
  }
  