
.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flexbox;
  flex-direction: column;
}

.slides-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 400px;

}

.slide {
  min-width: 80%;
  max-width: 80%;
  padding: 10%;

  display: flex;
  justify-content: center; /* Центрирование слайдов по горизонтали */
  align-items: center; /* Центрирование слайдов по вертикали */
}

.content {
  display: flex;
  background-color: #474747;
  border-radius: 30px;
  height: 400px;
  min-width: 1370px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.247);
}

.image {
  flex: 1;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  flex-shrink: 0;
  min-width: 300px;
  max-width: 300px;
}

.image img {
  width: auto;
  height: 100%;
}

.text {
  font-family: 'Montserrat-Light';
  color: white;
  text-align: left;
  padding: 0px;  
  flex-shrink: 3;
  width:max-content;
  align-self: flex-end;
  font-size: 25px;

}

.bold{
  font-family: 'Montserrat-SemiBold';
}

.navigation {
  position: relative;
  bottom: 10px;
  width: 100%;
  height: 60px;
}

.dots {
  display: flex;
  gap: 20px;
  justify-content: center; /* Центрирование точек */
  position: relative;
  top: 20px;
}

.dot {
  border: 4px solid #474747;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #474747;
}

.order-button{
  height: 55px;
  width: 219px;
  margin-right: 3%;
  margin-top: 200px;
  border-radius: 31px;
  font-size: 22px;
  font-family: 'Montserrat';
  background-color: #474747;
  color: white;
  border:  1px solid white;
  flex-shrink: 1;
  transition: all 0.5s ease;
}

.order-button:hover{
  background-color: white;
  border-color: #474747;
  color:black;
}

.obrezka1{
  margin-left: 75px;
  max-width: 740px;
  min-width: 740px;
  margin-bottom: 75px;
}

.obrezka2{
  margin-right: 4svw;
  margin-left: 4svw;
  max-width: 940px;
  min-width: 940px;
  margin-bottom: 4svw;
}

.obrez-but{
  margin-top: 55px;
  margin-right: 1.7svw;
  margin-left: 1svw;
}
@media (max-width:1500px) {
  .image {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-width: 240px;
    max-width: 240px;
  }
  .content {
    border-radius: 30px;
    height: 330px;
    min-width: 1150px;
  }
  .text {
    font-size: 23px;
  }
  .obrezka1{
    margin-left: 50px;
    max-width: 600px;
    min-width: 600px;
    margin-bottom: 30px;
  }
  .order-button{
    height: 55px;
    width: 219px;
    margin-right: 0;
    margin-top: 200px;
    border-radius: 31px;
    font-size: 22px;
  }
  .obrez-but{
    margin-top: 20px;
    margin-right: 1svw;
    margin-left: 1svw;
  }
  .obrezka2{
    margin-right: 50px;
    margin-left: 50px;
    max-width: 800px;
    min-width: 800px;
    margin-bottom: 30px;
  }
  .slides-container {
    height: 380px;
  }
  .dots {
    gap: 15px;
  }
  
  .dot {
    border: 4px solid #474747;
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }
} 
@media (max-width:1250px) {
  .image {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-width: 240px;
    max-width: 240px;
  }
  .content {
    border-radius: 30px;
    height: 300px;
    min-width: 900px;
  }
  .text {
    font-size: 19.3px;
  }
  .obrezka1{
    margin-left: 35px;
    max-width: auto;
    min-width: auto;
    margin-bottom: 30px;
  }
  .obrezka2{
    margin-right: 35px;
    margin-left: 35px;
    max-width: auto;
    min-width: auto;
    margin-bottom: 30px;
  }
  .order-button{
    height: 50px;
    width: 180px;
    margin-right: 0;
    margin-top: 200px;
    border-radius: 31px;
    font-size: 18px;
  }
  .obrez-but{
    margin-top: 20px;
    margin-right: 1svw;
    margin-left: 1svw;
  }
  .slides-container {
    height: 340px;
  }
} 