.team-box{
    overflow: hidden;
    margin-bottom: 100px;
}

.team-box h1{
    color:black;
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 3%;

}

.separator{ 
    margin-left: 13%;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 35px;
}

.separator a{
    font-family: 'Montserrat';
    font-size: 30px;

}

.separator hr{
    width: 250px;
    height: 1px;
    background-color: black;
    margin-left: 1%;
    margin-bottom: 0.8%;
    
}