.team-box{
    overflow: hidden;
    margin-bottom: 100px;
}

.team-box h1{
    color:black;
    font-family: 'Montserrat';
    text-align: center;
    margin-top: 3%;
    font-size: 40px;
}

.separator{ 
    width: 1450px;
    margin-left: auto;
    margin-right: auto;
    height: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 35px;
}

.separator a{
    font-family: 'Montserrat';
    font-size: 28px;
}

.separator hr{
    width: 450px;
    height: 1px;
    background-color: black;
    margin-left: 1%;
    margin-bottom: 0.8%;
    align-self: flex-end;
}
@media (max-width:1500px) {
    .separator{ 
        width: 1200px;
        height: 34px;
        margin-bottom: 0px;
    }
    .separator hr{
        width: 350px;
        align-self: flex-end;
        margin-bottom: 14px;
    }
    .team-box h1{
        font-size: 35px;
    }
    .separator a{
        font-family: 'Montserrat';
        font-size: 25px;
    }
}
@media (max-width:1250px) {
    .separator{ 
        width: 924px;
        height: 34px;
        margin-bottom: 0px;
    }
    .separator hr{
        width: 350px;
        align-self: flex-end;
        margin-bottom: 14px;
    }
    .team-box h1{
        font-size: 32px;
    }
    .separator a{
        font-family: 'Montserrat';
        font-size: 25px;
    }
}
@media (max-width:1024px) {
    .separator{ 
        width: 704px;
        height: 34px;
        margin-bottom: 0px;
    }
    .separator hr{
        width: 250px;
        align-self: flex-end;
        margin-bottom: 17px;
    }
    .team-box h1{
        font-size: 30px;
    }
    .separator a{
        font-family: 'Montserrat';
        font-size: 23px;
    }
}