.bg-light{
    width: 100%;
    height: 900px;
    background-image: url('../../assets/bg-light.png');
    background-repeat: no-repeat;
    background-size: auto 102% ;
    background-position: center;
}
.black-glass{
    width: 70%;
    background-color: #474747D4;
    height: 100%;
    margin-right: 0%;
    margin-left: auto;

}

.pole{
    margin-top:0;
    height: 100%;
    width: 60%;    
    margin-left: auto;
    margin-right: auto;
}


.pole h1{
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat-Light';
    color: white;
    padding-top: 20%;
    margin-top: 0px;
}

.pole p{
    font-size: 27px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat-Light';
    color: white;
    padding: 0px;
    margin: 0px;
    margin-top: 12%;
}

.pole b{
    font-family: 'Montserrat-Semibold';
}

.pole button{
    font-family: 'Montserrat';
    width: 60%;
    height: 60px;
    margin: 0 auto;
    display: block;
    margin-top: 20%;
    background-color: #47474700;
    border: 1px solid white;
    color:white;
    border-radius: 32px;
    font-size: 22px;
    transition: all 0.5s ease;
}

.pole button:hover{
    background-color: white;
    color: black;
}