.ft-body{
    height: 850px;
    width: 100%;
    background-color: #474747;
    font-family: "Montserrat";
}
.ft-content{
    padding-top: 50px;
    height: 800px;
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between ;
    display: flex;
}
.map-frame{
    width: 750px;
    height: 750px;
    position: relative;
    border-radius: 30px;
    border: 0px;
}
.ft-info{
    width: 35%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}
.ft-item{
    display: flex;
    flex-direction: column;
}
.div-h{
    color:white;
    font-size: 24px;
    padding-bottom: 20px;
    margin: 0;
}
.div-a{
    font-family: 'Montserrat-Light';
    color: white;
    font-size: 18px;
    justify-self: center;
}
.a-href{
    font-family: 'Montserrat-Light';
    color: white;
    font-size: 18px;
    justify-self: center;
    text-decoration: none;
    align-self: center;
    margin-left: 10px;
}
.metro{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ft-line{
    display: flex;
}
.ft-bd{
    align-self: center;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    margin-right: 10px;
}
.red{
    background-color: #BF2727;
}
.blue{
    background-color: #2A3DA1;
}
.ft-item img{
    
}
@media (max-width:1500px) {
    .ft-body{
        height: 750px;
    }
    .ft-content{
        padding-top: 50px;
        height: 650px;
        width: 950px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between ;
        display: flex;
    }
    .map-frame{
        width: 600px;
        height: 600px;
        position: relative;
        border-radius: 30px;
        border: 0px;
    }
    .ft-info{
        width: 32%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
    }
    .ft-item{
        display: flex;
        flex-direction: column;
    }
    .div-h{
        color:white;
        font-size: 20px;
        padding-bottom: 10px;
        margin: 0;
    }
    .div-a{
        font-family: 'Montserrat-Light';
        color: white;
        font-size: 16px;
        justify-self: center;
    }
    .a-href{
        font-family: 'Montserrat-Light';
        color: white;
        font-size: 16px;
        justify-self: center;
        text-decoration: none;
        align-self: center;
        margin-left: 10px;
    }
    .metro{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ft-line{
        display: flex;
    }
    .ft-bd{
        align-self: center;
        height: 11px;
        width: 11px;
        border-radius: 50%;
        margin-right: 10px;
    }
}
@media (max-width:1024px) {
    .ft-body{
        height: 750px;
    }
    .ft-content{
        padding-top: 50px;
        height: 650px;
        width: 700px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between ;
        display: flex;
    }
    .map-frame{
        width: 400px;
        height: 600px;
        position: relative;
        border-radius: 30px;
        border: 0px;
    }
    .ft-info{
        width: 39%;
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;    
    }
    .ft-item{
        display: flex;
        flex-direction: column;
    }
    .div-h{
        color:white;
        font-size: 18px;
        padding-bottom: 10px;
        margin: 0;
    }
    .div-a{
        font-family: 'Montserrat-Light';
        color: white;
        font-size: 16px;
        justify-self: center;
    }
    .a-href{
        font-family: 'Montserrat-Light';
        color: white;
        font-size: 16px;
        justify-self: center;
        text-decoration: none;
        align-self: center;
        margin-left: 10px;
    }
    .metro{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ft-line{
        display: flex;
    }
    .ft-bd{
        align-self: center;
        height: 11px;
        width: 11px;
        border-radius: 50%;
        margin-right: 10px;
    }
}