
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.font-montserrat-regular {
  font-family: 'Montserrat';

}
.font-montserrat-light{
  font-family: 'Montserrat-Light';
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.item-1 {
  background-color:aqua;
}

.item-2 {
  background-color: blueviolet;
}

.item-3{
  background-color: blue;
}

.info-hr {
  margin-top: -7%;
  width: 32%;
  margin-left: 34%;
  border-top: 4  px solid black;
}