.alp-box{
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';

}
.alp-prof{
    margin-top: 50px;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    gap: 30px;
    background: rgb(71,71,71);
    background: linear-gradient(180deg, rgba(71,71,71,0.1) 0%, rgba(71,71,71,0) 100%);
}
.alp-prof img{
    height: 100%;
    width: auto;
}
.alp-kostil1{
    padding: 30px;
    width: 100%;
    display: flex;
}
.alp-prof-text{
    width: 75%;
    text-align: left;
    font-size: 20px;
}
.alp-prof-text h1{
    font-size: 40px;
}
.alp-bold{
    font-family: 'Montserrat-SemiBold';
    font-size: 25px;

}
.alp-button{
    align-self: flex-end;
    width: 20%;
}
.alp-button button{
    width: 250px;
    height: 55px;
    font-size: 23px;
    border: 1px solid #474747;
    background-color: #ffffff00;
    border-radius: 28px;
    font-family: 'Montserrat';
    color:black;
    transition: all 0.6s ease;
}
.alp-button button:hover{
    background-color: #474747;
    color:white
}
.alp-about{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.alp-about h1{
    text-align: center;
}
.alp-hr{
    background-color: #fff;

    width: 70%;
    padding-top: 0;
    margin-top: 60px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.alp-hr h1{
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    font-family: "Montserrat";
}
.alp-hr hr{
    height: 0px;
    background-color: #000000;
    border: 1px solid black;
    width: 300px;
}
.alp-ul{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.alp-ul ul li{
    margin-top: 10px;
    font-family: 'Montserrat';
    font-size: 20px;
}
.alp-services{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.alp-services-item{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-size: 20px;
}
.alp-portfolio{
    margin-top: 50px;
}
.alp-portfolio h1{
    text-align: center;
    margin: 74px;
}
.alp-works {
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 180px;
}
.alp-row{
    display: flex;
    justify-content: space-between;
    gap:80px
}
.alp-row img{
    width: 400px;
    height: 400px;
}