
.scmb-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flexbox;
  flex-direction: column;
}

.scmb-slides-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 330px;
}

.scmb-slide {
  min-width: 80%;
  max-width: 80%;
  padding: 10%;

  display: flex;
  justify-content: center; /* Центрирование слайдов по горизонтали */
  align-items: center; /* Центрирование слайдов по вертикали */
}
.scmb-slide {
  min-width: 80%;
  max-width: 80%;
  padding: 10%;
  display: flex;
  justify-content: center; /* Центрирование слайдов по горизонтали */
  align-items: center; /* Центрирование слайдов по вертикали */
}


.scmb-content {
  display: flex;

  width: auto;
  justify-content: space-between;
  font-family: 'Montserrat-Light';
  height: 260px;
  max-width: 650px;
  min-width: 650px;
}
.scmb-item{

  height: 100%;
  background-color: #474747;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  min-width: 191px;
  max-width: 191px;
  border-radius: 25px;
  gap: 16px;
}
.scmb-item-active{

  height: 100%;
  background-color: #0f18b5;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  min-width: 191px;
  max-width: 191px;
  border-radius: 25px;
  gap: 16px;
}
.scmb-void{
  min-width: 191px;
  max-width: 191px;
}
.scmb-item img{
  width: 100%;
}

.scmb-item a{
  color: white;
  font-size: 21px;
}

.scmb-item button{
  background-color: #00000000;
  border:1px solid white;
  color: white;
  border-radius: 29px;
  font-family: 'Montserrat-Light';
  cursor: pointer;
  transition: all 0.9s ease;
  width: 160px;
  height: 44px;
  font-size: 16px; 
}
.scmb-item button:hover{
  color: black;
  background-color: white;
}


.scmb-navigation {
  position: relative;
  bottom: 10px;
  width: 100%;
  height: 60px;
}

.scmb-dots {
  display: flex;
  gap: 20px;
  justify-content: center; /* Центрирование точек */
  position: relative;
  top: 20px;
}

.scmb-dot {
  border: 4px solid #474747;

  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
  border: 4px solid #474747;
  width: 7px;
  height: 7px;
}

.scmb-dot.active {
  background-color: #474747;
}


/*______________________________________________*/


.sc-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flexbox;
  flex-direction: column;
}

.sc-slides-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 400px;

}

.sc-slide {
  min-width: 80%;
  max-width: 80%;
  padding: 10%;

  display: flex;
  justify-content: center; /* Центрирование слайдов по горизонтали */
  align-items: center; /* Центрирование слайдов по вертикали */
}

.sc-content {
  display: flex;
  height: 360px;
  min-width: 1100px;
  max-width: 1100px;
  width: auto;
  justify-content: space-between;
  font-family: 'Montserrat-Light';
}
.sc-item{
  min-width: 285px;
  max-width: 285px;
  height: 100%;
  background-color: #474747;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 25px;
  align-items: center;
}
.sc-void{
  min-width: 285px;
  max-width: 285px;
}
.sc-item img{
  width: 100%;
}

.sc-item a{
  color: white;
  font-size: 28px;
}

.sc-item button{
  width: 220px;
  height: 55px;
  background-color: #00000000;
  border:1px solid white;
  color: white;
  border-radius: 29px;
  font-size: 20px; 
  font-family: 'Montserrat-Light';
  cursor: pointer;
  transition: all 0.9s ease;
}
.sc-item button:hover{
  color: black;
  background-color: white;
}


.sc-navigation {
  position: relative;
  bottom: 10px;
  width: 100%;
  height: 60px;
}

.sc-dots {
  display: flex;
  gap: 20px;
  justify-content: center; /* Центрирование точек */
  position: relative;
  top: 20px;
}

.sc-dot {
  border: 4px solid #474747;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

.sc-dot.active {
  background-color: #474747;
}

@media (max-width:1350px) {
  .sc-content {
    display: flex;
    height: 320px;
    min-width: 950px;
    max-width: 950px;
    width: auto;
    font-family: 'Montserrat-Light';
  }
  .sc-item{
    min-width: 248px;
    max-width: 248px;
    border-radius: 30px;
    gap: 25px;
  }
  .sc-void{
    min-width: 248px;
    max-width: 248px;
  }
  .sc-item a{
    font-size: 23px;
  }
  .sc-item button{
    width: 180px;
    height: 48px;
    border-radius: 29px;
    font-size: 18px; 
  }
  .sc-slides-container {

    height: 330px;
  }
  .sc-dot {
    border: 4px solid #474747;
    width: 8px;
    height: 8px;
  }
}
@media (max-width:1024px) {
  .sc-content {
    height: 260px;
    max-width: 650px;
    min-width: 650px;
  }
  .sc-item{
    min-width: 191px;
    max-width: 191px;
    border-radius: 25px;
    gap: 16px;
  }
  .sc-void{
    min-width: 191px;
    max-width: 191px;
  }
  .sc-item a{
    font-size: 21px;
  }
  .sc-item button{
    width: 160px;
    height: 44px;
    border-radius: 29px;
    font-size: 16px; 
  }
  .sc-slides-container {

    height: 330px;
  }
  .sc-dot {
    border: 4px solid #474747;
    width: 7px;
    height: 7px;
  }
}