
.sc-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flexbox;
  flex-direction: column;
}

.sc-slides-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 400px;

}

.sc-slide {
  min-width: 80%;
  max-width: 80%;
  padding: 10%;

  display: flex;
  justify-content: center; /* Центрирование слайдов по горизонтали */
  align-items: center; /* Центрирование слайдов по вертикали */
}

.sc-content {
  display: flex;
  height: 360px;
  gap: 200px;
  font-family: 'Montserrat-Light';
}
.sc-item{
  width: 300px;
  height: 100%;
  background-color: #474747;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 25px;
  align-items: center;
}
.sc-item img{
  width: 100%;
}

.sc-item a{
  color: white;
  font-size: 28px;
}

.sc-item button{
  width: 200px;
  height: 50px;
  background-color: #00000000;
  border:1px solid white;
  color: white;
  border-radius: 25px;
  font-size: 20px; 
  font-family: 'Montserrat-Light';
}


.sc-navigation {
  position: relative;
  bottom: 10px;
  width: 100%;
  height: 60px;
}

.sc-dots {
  display: flex;
  gap: 20px;
  justify-content: center; /* Центрирование точек */
  position: relative;
  top: 20px;
}

.sc-dot {
  border: 3px solid black;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  cursor: pointer;
}

.sc-dot.active {
  background-color: #000000;
}

