.sl-body{
    width: 100%;
    height: 10000px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.sl-box{
    width: 100%;
    height: 900px;
    /* background-color: red; */
    text-align: center;
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    color:#474747;
    padding-bottom: 50px;
}
.sl-box h1{
    color: black;
    font-family: 'Montserrat';
    margin: 0;
    padding: 60px;
    font-size: 43px;
}
.sl-content{
    width: 80%;
    height: 100%;
    /* background-color: #3cff00; */
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.sl-content img{
    border-radius: 1.65svw;
    min-width: 680px;
    max-height: 740px;
}
.sl-text{
    font-family: 'Montserrat';
    margin-left: 55px;
    /* background-color: yellow; */
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: flex-start;
}

.sl-atext{
    height: 527px;
    text-align: justify;
}
.sl-text a{
    font-size: 25px;
    line-height: 50px;
    text-align: justify;
}

.sl-text h2{
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 35px;
    color:#474747;

}
.sl-text button{
    width: 300px;
    height: 75px;
    border-radius: 39px;
    border: 1px solid black;
    background-color: #47474700;
    justify-self: flex-end;
    font-family: 'Montserrat';
    font-size: 27px;
    transition: all 1s ease;
    color:#474747
}
.sl-text button:hover{
    background-color: #474747;
    color:white;
}