.int-body{
    width: 100%;
    height: auto;
    padding-bottom: 100px;
}


.img-pole{
    display: flex;
    width: 1400px;
    height: 717px;
    margin-left: auto;
    margin-right: auto;
    gap: 14px;
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.int-body h1{
    font-family: 'Montserrat';
    text-align: center;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 70px;
    font-size: 40px;
}

.first-item-img{
    min-width: 560px;
    max-width: 560px;
    min-height: 717px;
    max-height: 717px;
    overflow: hidden;
}

.second-item-img{
    width: 826px;
    height: 717px;

    display: flex;
    flex-direction: column;
    
}

.third-item-img{
    height: 340px;
    overflow: hidden;

}

.fourth-item-img{
    margin-top: 16px;
    height: 450px;
    display: flex;
    gap: 14px;
    overflow: hidden;
}

.fifth-item-img{
    flex: 1;
    overflow: hidden;

}
.sixth-item-img{
    flex: 2;
    overflow: hidden;

}
.img-pole img{
    min-width: 100%;
    min-height: 100%;
}
.int-text{
    margin-top: 16px;
    width: 1400px;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
    background-color: #474747;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.int-text1{
    padding-top: 15px;
    color: white;
    font-family: 'Montserrat-Light';
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    line-height: 40px;
    text-align: justify;
}
@media (max-width:1500px) {
    .int-body{
        height: auto;
        padding-bottom: 100px;
    }
    .img-pole{
        width: 924px;
        height: 473px;
        gap: 14px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    
    .int-body h1{
        padding-top: 70px;
        padding-bottom: 35px;
        font-size: 35px;
    }
    
    .first-item-img{
        min-width: 367px;
        max-width: 367px;
        min-height: 473px;
        max-height: 473px;
    }
    .int-text{
        margin-top: 16px;
        width: 924px;
        height: 150px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .second-item-img{
        width: 557px;
        height: 473px;
        display: flex;
        flex-direction: column;   
    }
    .int-text1{
        padding-top: 15px;
        width: 90%;
        font-size: 18px;
        line-height: 28px;
    }
}
@media (max-width:1024px) {
    .int-body{
        height: auto;
        padding-bottom: 100px;
    }
    .img-pole{
        width: 718px;
        height: 473px;
        gap: 14px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    
    .int-body h1{
        padding-top: 70px;
        padding-bottom: 35px;
        font-size: 35px;
    }
    
    .first-item-img{
        min-width: 367px;
        max-width: 367px;
        min-height: 473px;
        max-height: 473px;
    }
    .int-text{
        margin-top: 16px;
        width: 718px;
        height: 150px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    .second-item-img{
        width: 557px;
        height: 473px;
        display: flex;
        flex-direction: column;   
    }
    .int-text1{
        padding-top: 15px;
        width: 90%;
        font-size: 18px;
        line-height: 28px;
    }
}