.ab-body{
    width: 100%;
    height: 1050px;
    background-color: #ffffff;
    font-family: 'Montserrat';
}


.ab-text{
    margin-top: 70px;
    width: 71%;
    margin-left: auto;
    margin-right: auto;

}

.ab-hr{
    display: inline;
    
}

.ab-hr h3{
    font-size: 35px;
}

.ab-hr hr{
    position: relative;
    top:-40px;
    width: 380px;
    margin-left: 415px;
}

.ab-text p{
    margin-top: 0;
    font-size: 21px;
}

.ab-text h4{
    font-family: 'Montserrat-Medium';
    text-align: end;
    margin-bottom: 5svw;
    font-size: 21px;
}

.video{
    width: 840px;
    height: 472px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}
.video iframe{
    width: 840px;
    height: 472px;
}
@media (max-width:1500px) {
    
    .ab-text{
        margin-top: 70px;
        width: 71%;
    }
    .ab-hr h3{
        font-size: 30px;
    }
    .ab-hr hr{
        top:-35px;
        width: 300px;
        margin-left: 350px;
    }

    .ab-text p{
        margin-top: 0;
        font-size: 19px;
    }

    .ab-text h4{
        font-family: 'Montserrat-Medium';
        text-align: end;
        margin-bottom: 5svw;
        font-size: 19px;
    }
    .video{
        width: 840px;
        height: 472px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 75px;
    }
    .video iframe{
        width: 840px;
        height: 472px;
    }
}
@media (max-width:1024px) {
    
    .ab-text{
        margin-top: 70px;
        width: 71%;
    }
    .ab-hr h3{
        font-size: 27px;
    }
    .ab-hr hr{
        top:-33px;
        width: 200px;
        margin-left: 310px;
    }

    .ab-text p{
        margin-top: 0;
        font-size: 17px;
    }

    .ab-text h4{
        font-family: 'Montserrat-Medium';
        text-align: end;
        margin-bottom: 5svw;
        font-size: 17px;
    }
    .video{
        width: 580px;
        height: 372px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 75px;
    }
    .video iframe{
        width: 580px;
        height: 372px;
    }
}